/****Esercizio 1*******/
.ex-1-square {
    transition: background-color 5s;
}

.ex-1-square:hover {
    background-color: red;
}

/******Esercizio 2******/
.ex-2-square {
    transition: all 5s;
}

.ex-2-square:active {
    width: 1100px;
}

/******Esercizio 3********/
.ex-3-square {
    transition: all 3s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/*******Esercizio 4*******/
.ex-4-square {
    transition: all 3s;
}

.ex-4-square:hover {
    opacity: 0;
}

/********Esercizio 5*******/
.ex-5-square {
    transition: all 3s;
}

.ex-5-square:hover {
    transform: scale(1.5);
}

.ex-5-square:active {
    transform: scale(0.5);
}

/*********Esercizio 6*******/
.ex-6-img:hover {
    filter: grayscale(1);
}

/********Esercizio 7*******/
.ex-7-img:hover {
    filter: blur(5px) grayscale(1);
}

/*******Esercizio 8********/
.ex-8-img {
    transition: all 3s;
}

.ex-8-img:hover {
    filter: invert(1) brightness(0.5);
    border-radius: 20px;
}

/******esercizio 9********/
.ex-9-img {
    transition: all 3s;
}

.ex-9-img:hover {
    filter: saturate(0.5) brightness(0.5);
    border-radius: 20px;
    transform: scale(1.5);
}

/*******Esercizio 10*******/
.ex-10-icon {
    animation-name: rotation;
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(359deg);
    }
    to{
        transform: rotate(0deg);
    }
}

/********Esercizio 11********/
.ex-11-icon:hover {
    animation-name: example;
    animation: example 2s infinite linear;
}

@keyframes example {
    0% {
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/********Esercizio 12*********/
.ex-12-button:hover .ex-12-top-white{
    animation-name: esercizio12;
    animation: esercizio12 3s infinite linear;
}
@keyframes esercizio12 {
    0% {
        left: 10%;
    }
    50% {
        left: 60%;
    }
    100% {
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation-name: esercizio12-2;
    animation: esercizio12-2 3s infinite linear;
}
@keyframes esercizio12-2 {
    0% {
        right: 20%;
    }
    50% {
        right: 60%;
    }
    100% {
        right: 20%;
    }
}

/********Esercizio 13********/
.ex-13-button:hover .ex-13-top-white{
    animation-name: esercizio13;
    animation: esercizio13 3s infinite linear;
}
@keyframes esercizio13 {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: 80%;
        top: -10px;
    }
    45% {
        left: 80%;
        top: 50px;
    }
    75% {
        left: -10%;
        top: 50px; 
    }
    90% {
        left: -10%;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}

.ex-13-button:hover .ex-13-bottom-white{
    animation-name: esercizio13-2;
    animation: esercizio13-2 3s infinite linear;
}
@keyframes esercizio13-2 {
    0% {
        right: 20%;
        bottom: -10px;
    }
    30% {
        right: 80%;
        bottom: -10px;
    }
    45% {
        right: 80%;
        bottom: 55px;
    }
    75% {
        right: -10%;
        bottom: 55px;
    }
    90% {
        right: -10%;
        bottom: -10px;
    }
    100% {
        right: 20%;
        bottom: -10px;
    }
}